$orange: hsl(25, 97%, 53%);
$white:  hsl(0, 0%, 100%);
$lightgrey: hsl(217, 12%, 63%);
$medium-grey: hsl(216, 12%, 54%);
$dark-blue: hsl(214, 20%, 16%);
$dark-blue-gradient: hsl(215, 18%, 13%);
$dark-blue-two: hsl(217, 17%, 20%);
$verydarkblue: hsl(216, 12%, 8%);